.sideBarContainer {
  /*position: absolute;*/
  
  width: 14rem;
  width: 112px;
  
  /*left: 0px;
  top: 0px;*/
  
  /*height: 100vmax;*/
  
  background: var(--white);
  color: var(--text);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
  padding-top: 31px;
}

.sideBarPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideBarPages img{
  margin-bottom: 1.25rem;
}

.sideBarContainer button {
  background: transparent;
  color: var(--text);
  border: none;
  font-weight: 600;
  padding: 1.25rem;
}

.sideBarContainer button:focus {
  outline: none;
}

.sideBarContainer button:hover {
  color: var(--blue);
}

.sideBarContainer .pageButtonActive {
  color: var(--blue-dark)
}